table {
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
}
th, td {
    text-align: left;
    height: 100px;
    font-size: xx-large;
    border: 2px solid black;
    font-family: "Roboto";
    vertical-align: middle;
}